<div class="fixed-action-btn">
    <a href="#addThingModal" class="btn-floating btn-large bkg-red tooltipped modal-trigger" [attr.data-position]="'left'" [attr.data-tooltip]="'Add something'">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a href="#new-form-thing-modal" class="btn-floating purple modal-trigger tooltipped" [attr.data-position]="'left'" [attr.data-tooltip]="'Add a form'"><i class="material-icons">receipt</i></a></li>
        <li><a href="#new-hub-thing-modal" class="btn-floating blue modal-trigger tooltipped" [attr.data-position]="'left'" [attr.data-tooltip]="'Add a hub'"><i class="material-icons">room</i></a></li>
        <li><a href="#new-resource-thing-modal" class="btn-floating brown modal-trigger tooltipped" [attr.data-position]="'left'" [attr.data-tooltip]="'Add a resource'"><i class="material-icons">language</i></a></li>
        <li><a href="#new-project-thing-modal" class="btn-floating deep-orange modal-trigger tooltipped" [attr.data-position]="'left'" [attr.data-tooltip]="'Add a project'"><i class="material-icons">settings</i></a></li>
        <li [hidden]="!isMe()"><a routerLink="/goals" class="btn-floating pink tooltipped" [attr.data-position]="'left'" [attr.data-tooltip]="'Add a goal'"><i class="material-icons">landscape</i></a></li>
        <li><a href="#new-offer-thing-modal" class="btn-floating bkg-green modal-trigger tooltipped" [attr.data-position]="'left'" [attr.data-tooltip]="'Add an offer'"><i class="material-icons">redeem</i></a></li>
    </ul>
</div>

<add-thing-modal *ngIf="thing" [thing]="thing"></add-thing-modal>
<new-resource-modal *ngIf="thing" [modalId]="'new-resource-thing-modal'" [asMemberOf]="thing"></new-resource-modal>
<new-offer-modal *ngIf="thing" [modalId]="'new-offer-thing-modal'" [asMemberOf]="thing"></new-offer-modal>
<new-project-modal *ngIf="thing" [modalId]="'new-project-thing-modal'" [asMemberOf]="thing"></new-project-modal>
<new-hub-modal *ngIf="thing" [modalId]="'new-hub-thing-modal'" [asMemberOf]="thing"></new-hub-modal>
<new-form-modal *ngIf="thing" [modalId]="'new-form-thing-modal'" [asMemberOf]="thing"></new-form-modal>