<div id="addThingModal" class="modal">
    <div class="modal-content">
        <h4>Add something</h4>

        <form>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input id="name" type="text" required [(ngModel)]="text" name="text" autofocus autocomplete="off" (keyup)="search()">
                        <label class="active" for="name">Search</label>
                    </div>
                </div>
            </div>
        </form>

        <div>
            <div class="waves-effect choice" *ngFor="let thing of results; let i = index" (click)="select(i)">
                <div class="image" [style.background-image]="url(thing) ? 'url(' + url(thing) + ')' : 'url(/img/night.png)'"></div>
                {{ thing.name ? thing.name : thing.firstName ? thing.firstName + ' ' + thing.lastName : thing.about }}
            </div>
            <div *ngIf="!results.length" class="null grey-text">
                <span *ngIf="text && searching">Searching...</span>
                <span *ngIf="text && !searching">Nothing was found</span>
                <span *ngIf="!text">Search for things near you</span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="btn-flat waves-effect waves-blue modal-action blue-text" type="submit" name="action" (click)="add()">
            Add {{ newThingName || '' }}
        </a>
        <a class="modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
    </div>

</div>