.choice {
    cursor: pointer;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 2px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.choice .image {
    border-radius: 100%;
    vertical-align: middle;
    padding: .5rem;
    background-position: 50% 0;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.null {
    font-style: italic;
    padding: 1rem;
}