.skylike {
    background: linear-gradient(rgba(255,255,255,0.125), transparent, rgba(0,0,0,.125));
    background-blend-mode: color-burn;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.logo {
    font-size: 2.1rem;
}

.feedback {
    padding-right: 1em;
}

.logo-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 15px;
    margin-top: 1rem;
}

.nav-wrapper {
    transition: background-color .5s ease-out;
}

.menu-header {
    background: #FF6075;
}

.menu-header:hover {
    background-color: #A73948 !important;
}

.menu-header a, .nav-header a {
    color: white;
    font-weight: bold;
}

.chat, .signin {
    padding-right: 10px;
    height: 100%;
}

.right-actions {
    align-items: center;
    display: flex;
    height: 100%;
}

.iconic {
    background-image: url(img/pickaxe.png);
    background-position: 50% 45%;
    background-repeat: no-repeat;
}

.button-collapse {
    padding-left: 1em;
    cursor: pointer;
}

.mdi-navigation-menu:before {
    content: "\e8af";
}