.skylike {
    background: linear-gradient(to bottom, rgba(255,255,255,0.125), transparent, rgba(0,0,0,.125));
    background-blend-mode: color-burn;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.logo {
    font-size: 2.1rem;
}

.feedback {
    padding-right: 1em;
}

.logo-icon {
    width: 24px;
    height: 24px;
    margin-right: 32px;
    margin-top: 1rem;
    image-rendering: pixelated;
}

.nav-header .logo-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 15px;
}

.nav-wrapper {
    display: flex;
    transition: background-color .5s ease-out;
    background: #fff;
    color: black;
}

.nav-wrapper a {
    color: black;
}

.nav-wrapper #nav-mobile {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-wrapper #nav-mobile>li {
    display: inline-flex;
    flex-shrink: 0;
}

.menu-header {
    background: #FF6075;
}

.menu-header:hover {
    background-color: #A73948 !important;
}

.menu-header a, .nav-header a {
    color: black;
    font-weight: bold;
}

.chat, .signin, .settings {
    padding-right: 1rem;
    height: 100%;
}

.settings {
    opacity: .66;
}

.right-actions {
    align-items: center;
    display: flex;
    height: 100%;
}

.iconic {
    background-image: url(/img/pickaxe.png);
    background-position: 50% 45%;
    background-repeat: no-repeat;
}

.sidenav-trigger {
    outline: none;
}

.mdi-navigation-menu:before {
    content: "\e8af";
}

.nav-tit {
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navbar-fixed {
    animation-name: slide-down;
    animation-duration: 450ms;
}

.actions-bar {
    padding-left: 1rem;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

