<div class="app">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper banner" [ngClass]="{'yellow darken-4': isActive(['/clubs']), 'blue': isActive(['/hubs']), 'deep-orange': isActive(['/projects']), 'brown': isActive(['/resources']), 'bkg-red': !isActive(['/hubs']) && !isActive(['/clubs']) && !isActive(['/projects']) && !isActive(['/resources'])}">
                <div class="skylike"></div>
                <a class="brand-logo center hide-on-large-only nav-title">{{ pageTitle() }}</a>

                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li class="nav-header"><a [routerLink]="['/']"><img src="img/favicon.png" class="logo-icon left" />Village</a></li>
                    <li [ngClass]="{'active': isActive(['/projects'])}"><a [routerLink]="['/projects']"><i class="material-icons left">settings</i>Projects</a></li>
                    <li [ngClass]="{'active': isActive(['/resources'])}"><a [routerLink]="['/resources']"><i class="material-icons left">language</i>Resources</a></li>
                    <li [ngClass]="{'active': isActive(['/hubs'])}"><a [routerLink]="['/hubs']"><i class="material-icons left">room</i>Hubs</a></li>
                    <!--<li [ngClass]="{'active': isActive(['/clubs'])}"><a [routerLink]="['/clubs']"><i class="material-icons left">supervisor_account</i>Clubs</a></li>-->
                    <li [ngClass]="{'active': isActive(['/people'])}"><a [routerLink]="['/people']"><i class="material-icons left">perm_identity</i>People</a></li>
                    <!--<li [ngClass]="{'active': isActive(['/search'])}"><a [routerLink]="['/search']"><i class="material-icons left">search</i>Search</a></li>-->
                </ul>

                <ul id="slide-out" class="side-nav">
                    <li class="menu-header"><a [routerLink]="['/']"><img src="img/favicon.png" class="logo-icon left" />Village</a></li>
                    <li><a [routerLink]="['/projects']"><i class="material-icons left">settings</i>Projects</a></li>
                    <li><a [routerLink]="['/resources']"><i class="material-icons left">language</i>Resources</a></li>
                    <li><a [routerLink]="['/hubs']"><i class="material-icons left">room</i>Hubs</a></li>
                    <!--<li><a [routerLink]="['/clubs']"><i class="material-icons left">supervisor_account</i>Clubs</a></li>-->
                    <li><a [routerLink]="['/people']"><i class="material-icons left">perm_identity</i>People</a></li>
                    <!--<li><a [routerLink]="['/search']"><i class="material-icons left">search</i>Search</a></li>-->
                    <li><a class="modal-trigger" *ngIf="userSignined()" href="#feedbackModal"><i class="material-icons left">edit</i>Feedback</a></li>
                </ul>

                <a data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

                <div class="right right-actions">
                    <a class="feedback hide-on-med-and-down modal-trigger right tooltipped" *ngIf="userSignined()" href="#feedbackModal" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Send feedback about Village to the development team'">Feedback</a>
                    <a class="chat right tooltipped" *ngIf="userSignined()" [routerLink]="['/messages']" [attr.data-position]="'bottom'" [attr.data-tooltip]="'View your messages'"><i class="material-icons">chat_bubble</i></a>
                    <div class="signin right tooltipped right-actions" [attr.data-position]="'left'" [attr.data-tooltip]="'View your profile'">
                        <signin></signin>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <gday-modal></gday-modal>
    <welcome-modal></welcome-modal>
    <feedback-modal></feedback-modal>
    <router-outlet></router-outlet>
</div>