.logo {
    font-size: 2.1rem;
}

.chat, .signin {
    padding-right: 10px;
}

.iconic {
    background-image: url(img/КИРКА2.png);
    background-position: 50% 45%;
    background-repeat: no-repeat;
}