<div class="banner">
    <div class="text">
        <div>Offers from Neighbors. Join Today!</div>
        <div class="subheading">Meet People, Learn Stuff, Try Something New.</div>
        <!--<signin></signin>-->
        <div style="margin-top: 1em;">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.queatz.snappy">
                <img class="googleplay" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" />
            </a>
        </div>
    </div>
</div>