<div id="editDetailsModal" class="modal">
    <div class="modal-content">
        <h4>Edit</h4>

        <form>
            <div class="row" *ngIf="thing.kind === 'hub'">
                <div class="col s12 m6">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">label</i>
                        <input id="name" type="text" required [(ngModel)]="name" name="name">
                        <label class="active" for="name">Enter name</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">room</i>
                        <input id="address" type="text" required [(ngModel)]="address" name="address" (input)="updateAddress()">
                        <label class="active" for="address">Enter address</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        <textarea class="materialize-textarea" id="about" type="text" [(ngModel)]="about" name="about"></textarea>
                        <label class="active" for="about">Enter description</label>
                    </div>
                    <visibility-picker [clubs]="clubs" [(public)]="isPublic"></visibility-picker>
                </div>
                <div class="col s12 m6">
                    <map [thing]="thing"></map>
                </div>
            </div>
            <div class="row" *ngIf="isCommon()">
                <div class="col s12">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">label</i>
                        <input id="name" type="text" required [(ngModel)]="name" name="name">
                        <label class="active" for="name">Enter name</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        <textarea class="materialize-textarea" id="about" type="text" [(ngModel)]="about" name="about"></textarea>
                        <label class="active" for="about">Enter description</label>
                    </div>

                    <visibility-picker *ngIf="canEditClubs()" [clubs]="clubs" [(public)]="isPublic"></visibility-picker>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat grey-text left" (click)="remove()" *ngIf="canEdit()">Remove {{ thing.kind }}</a>
        <a class="modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
        <a class="btn-flat waves-effect waves-blue modal-action blue-text" (click)="save()">
            Save
        </a>
    </div>

</div>
<div id="modal-remove" class="modal">
    <div class="modal-content">
        <h5>
            Completely remove <b>{{ thing.name }}</b>?
        </h5>
        <div>
            <p>You can't undo this.</p>
            <ul class="collection">
                <li class="collection-item">
                    <i class="material-icons left red-text text-lighten-2">delete</i>
                    All contacts and members will be alerted and removed
                </li>
                <li class="collection-item">
                    <i class="material-icons left red-text text-lighten-2">delete</i>
                    All backers will be removed
                </li>
                <li class="collection-item">
                    <i class="material-icons left red-text text-lighten-2">delete</i>
                    All updates will be removed
                </li>
                <li class="collection-item">
                    <i class="material-icons left orange-text text-lighten-2">warning</i>
                    All resources, projects, and hubs, will be unlinked.
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
        <a class="modal-action waves-effect waves-red btn-flat red-text" (click)="confirmRemove()">Remove</a>
    </div>
</div>