<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<a class="waves-effect waves-light red btn-floating btn-large modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
</div>
<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>New offer</h4>

		<div class="range-field">
			<input type="range" id="test5" min="0" max="100" [(ngModel)]="enumber"/>
		</div>

		<div class="input-field col s12">
			<input id="string" class="validate" [(ngModel)]="emessage">
			<label for="string"></label>
		</div>

	</div>
	<div class="modal-footer">
		<a  class=" modal-action modal-close waves-effect waves-green btn-flat" (click)="newOffer(emessage, enumber)">Offer</a>
		<a  class=" modal-action modal-close waves-effect waves-red btn-flat" >Cancel</a>
	</div>
</div>