.info-pic {
    width: 128px;
    height: 128px;
    margin: auto;
    border-radius: 128px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 131%;
}

.pic-1 {
    background-image: url('img/welcome/1.png');
}

.pic-2 {
    background-image: url('img/welcome/2.png');
}

.pic-3 {
    background-image: url('img/welcome/3.png');
}

.pic-4 {
    background-image: url('img/welcome/4.png');
}

.pic-5 {
    background-image: url('img/welcome/5.png');
}

.pic-6 {
    background-image: url('img/welcome/6.png');
}

.info-cell {
    display: block;
    padding: 1rem;
}

.info-desc {
    margin-top: .5rem;
    text-align: center;
    color: black;
}

.header {
    padding: .5rem 0;
}

.learn-more {
    padding: .5rem;
    text-align: center;
}