<div>
    <center *ngIf="!hubs" class="waiting">
        <br />
        <div class="preloader-wrapper active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <span><br /><br />Finding hubs near you...</span>
    </center>
    <center *ngIf="hubs && !hubs.length" class="waiting">No hubs near you.</center>

    <div class="grid center-align">
        <div class="item" *ngFor="let hub of hubs">
            <project-card class="left-align" [typeClass]="'blue'" [thing]="hub"></project-card>
        </div>
    </div>
    <floating [tooltip]="'Add a hub'" [color]="'blue'" [modal]="newHubModal"></floating>
</div>