<div class="card-panel info-panel">
    <div class="row">
        <div class="col s12 m4 center">
            <div class="section-icon icon-day"></div>
            <h5>Freelance!</h5>
            <p class="grey-text text-darken-2">
                <b>Do what you love, love what you do!</b>  Becoming a freelancer is a fun adventure that develops your network and the dynamic skills you'll use for a lifetime.  It's the best way forward if you want to free up time and become financially independent.
            </p>
        </div>
        <div class="col s12 m4 center">
            <div class="section-icon icon-location"></div>
            <h5>Explore Your World</h5>
            <p class="grey-text text-darken-2">
                <b>You don't have to go far</b> to find beauty and happiness. It's all around you, you just have to look!  By connecting with your people in your neighborhood and your city, you'll uncover a lifestyle of character you'll stick with for years to come.
            </p>
        </div>
        <div class="col s12 m4 center">
            <div class="section-icon icon-night"></div>
            <h5>Find Thyself</h5>
            <p class="grey-text text-darken-2">
                <b>Believe in You!</b> There's nothing more satisfying that knowing yourself well.  By doing amazing things and meeting amazing people, you'll discover yourself in amazing ways.  Trust us, you're in there, <i>and you're amazing.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col m12 center blue-text">
            <h5>Keep scrolling to see what people are already offering</h5>
        </div>
    </div>
</div>