<div class="card white hoverable">
    <div class="card-image">
        <div [ngClass]="{'bkg-green': !isRequest(), 'bkg-purple': isRequest()}" class="card-tabbing"></div>
        <img (load)="loaded()" *ngIf="offer.photo" src="{{offerImage}}" />
    </div>
    <div class="card-content">
        <club-tag [clubs]="offer.clubs" [isPublic]="!offer.hidden" class="small in-card"></club-tag>
        <a *ngIf="isProfile()" (click)="edit()" href="javascript:" class="thing-action-icon right grey-text text-lighten-1 tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Edit'"><i class="material-icons small">edit</i></a>
        <div class="blox">
            <a [routerLink]="['/' + offer.source.googleUrl]" class="tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="offer.source.firstName + ' ' + offer.source.lastName"> <img src="{{ offer.source.imageUrl }}" alt="Profile picture" class="circle" /></a>
        </div>
        <div class="blox">
            <span class="title offer-type" [ngClass]="{'purple-text': isRequest()}">{{ getOfferTypeText() }}</span>
            <span class="title grey-text">{{ time() }}</span>
            <p class="flow-text">
                {{ offer.about }}
            </p>
        </div>
    </div>
    <div class="card-action">
        <a (click)="clickPrice()">
            <div class="price waves-effect secondary-content waves-light btn white-text tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="isRequest() ? 'Offer this to ' + offer.source.firstName : 'Get this offer by messaging ' + offer.source.firstName" [ngClass]="{'bkg-green': !isRequest(), 'bkg-purple': isRequest()}">
                <b>{{ getPrice() }}</b>
            </div>
        </a>
        <div class="more-action">
            <a [hidden]="!isProfileOr()" class="delete modal-trigger tooltipped" href="#modal-action{{ offer.id }}-1" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Remove'"><i class="material-icons small">delete</i></a>
            <a [hidden]="!isProfile()" class="add modal-trigger tooltipped" href="#modal-action{{ offer.id }}-2" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Change photo'"><i class="material-icons small">aspect_ratio</i></a>
        </div>
        <div class="clear"></div>
    </div>
    <div id="modal-action{{ offer.id }}-1" class="modal">
        <div class="modal-content">
            <h5>
                Remove <b>{{ offer.about }}</b>?
            </h5>
            <span *ngIf="!offer.member">You can't undo this.</span>
            <span *ngIf="offer.member">Offer will be removed from {{ offer.member.target.name }}.</span>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
            <a class="modal-action modal-close waves-effect waves-red btn-flat red-text" (click)="deleteOffer()">Remove</a>
        </div>
    </div>
    <div id="modal-action{{ offer.id }}-2" class="modal">
        <div class="modal-content">
            <h4>Set offer photo</h4>
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" accept="image/*" (change)="fileChangeEvent($event)">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" [(ngModel)]="efile" name="efile">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="left modal-action modal-close waves-effect waves-red btn-flat red-text" (click)="deleteImage()">Remove photo</a>
            <a class="modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
            <a class="modal-action modal-close waves-effect waves-blue btn-flat blue-text" (click)="uploadPhoto()">Set photo</a>
        </div>
    </div>
</div>