<window-scroll (onBottomReached)="onBottomReached()">
    <spinner [show]="!offersLoaded">
        <span *ngIf="list !== null">Finding things to do near you...</span>
    </spinner>
    <div class="thing-feed">
        <div *ngIf="offersLoaded && !offers.length" class="no-cards">
            <span *ngIf="list === undefined">Nothing to do around here.</span>
            <span *ngIf="list !== undefined">Nothing to do here yet.</span>
            <a routerLink="/">Goooooo exploring!</a>
        </div>
        <div class="item" *ngFor="let offer of offers | slice:0:amount; trackBy: byId">
            <offer-card *ngIf="isKind(offer, 'offer')" [resizeCallback]="boundResizeCallback" [removeCallback]="boundRemoveCallback" [offer]="offer"></offer-card>
            <thing-update *ngIf="isKind(offer, 'update')" [resizeCallback]="boundResizeCallback" [update]="offer"></thing-update>
        </div>
    </div>
</window-scroll>
