<div>
    <div *ngIf="!offersLoaded" class="waiting">
        <br />
        <div>
            <div class="preloader-wrapper active">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
        <span *ngIf="list !== null"><br />Finding things to do near you...</span>
    </div>
    <div class="grid center-align">
        <div *ngIf="offersLoaded && !offers.length" class="waiting">
            <span *ngIf="list === undefined">Nothing to do around here.</span>
            <span *ngIf="list !== undefined">Nothing offered yet.</span>
            <a routerLink="/">Goooooo exploring!</a>
        </div>
        <div class="item" *ngFor="let offer of offers">
            <offer-card class="left-align" [resizeCallback]="boundResizeCallback" [deleteCallback]="boundDeleteCallback" [removeCallback]="boundRemoveCallback" [offer]="offer" [position]="offers.indexOf(offer)" [size]="offers.length" [profile]="getProfile()"></offer-card>
        </div>
    </div>
</div>
