.waiting {
    font-size: 1.5rem;
    font-weight: bold;
    color: #777;
    padding: .5em;
    margin-top: 1rem;
}

.grid {
    margin: 15px auto;
}

.grid > div {
    width: 400px;
}

@media only screen and (max-width: 400px) {
    .grid > div {
        width: 98vw;
    }
}