<div class="card hoverable large">
    <div class="card-image">
        <div class="card-tabbing bkg-red"></div>
        <img src="{{person.imageUrl.split('=')[0] + '=480'}}" />
        <span class="card-title">{{person.firstName}} {{person.lastName}}</span>
    </div>
    <div class="card-content">
        <p>{{person.about}}</p>
    </div>
    <div class="card-action">
        {{ person.infoOffers }}
        <span class="grey-text" [ngPlural]="person.infoOffers">
            <template ngPluralCase="=1">offer</template>
            <template ngPluralCase="other">offers</template>
        </span>

        <a routerLink="['/' + person.googleUrl]" class="red-text secondary-content">View Profile</a>
    </div>
</div>