.card .card-image img {
    border-radius: 0;
}

.card-tabbing {
    height: 4px;
    border-radius: 2px 2px 0 0;
}

.sec {
    padding-bottom: 1rem;
}

.cover-shadow {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, black, transparent);
    background: -moz-linear-gradient(0deg, black, transparent);
}