<div id="postUpdateModal{{update ? update.id : ''}}" class="modal">
    <div class="modal-content">
        <h4>{{update ? 'Edit' : 'Post'}} update</h4>

        <form>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">edit</i>
                    <textarea autofocus id="text" class="materialize-textarea" type="text" [(ngModel)]="message" name="message"></textarea>
                    <label class="active" for="text">Write things...</label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field s12">
                    <div class="btn">
                        <span *ngIf="update">Change photo</span>
                        <span *ngIf="!update">Add photo</span>
                        <input type="file" accept="image/*" (change)="fileChangeEvent($event)">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" [(ngModel)]="efile" name="efile">
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!update">
                <thing-list [things]="checkingInWithAt" (onThingClicked)="removeCheckin($event)"></thing-list>
                <br *ngIf="checkingInWithAt.length" />
                <br *ngIf="checkingInWithAt.length" />
                <button class="btn-flat teal-text" (click)="isGoing = false; checkingIn = !checkingIn">
                        <b *ngIf="!checkingIn">Check in{{ checkingInToHub() ? ' with' : '' }}...</b>
                        <b *ngIf="checkingIn">Cancel</b>
                </button>
                <button *ngIf="!checkingIn && !checkingInToHub()" class="btn-flat teal-text" (click)="isGoing = true; checkingIn = !checkingIn">
                        <b>Going to...</b>
                </button>
                <searchbox *ngIf="checkingIn" (onSearchResultClicked)="checkin($event)" [maxResults]="3" [kinds]="kinds()"></searchbox>
            </div>
            <div class="row">
                <visibility-picker [clubs]="clubs" [(public)]="isPublic"></visibility-picker>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat red-text left" (click)="remove()" [ngClass]="{hide: !update}">Remove Update</a>
        <a class="modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
        <a class="modal-action modal-close waves-effect waves-blue btn-flat blue-text" (click)="post()">{{ update ? 'Save' : 'Post'}}</a>
    </div>
</div>