.photo {
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
}

.info {
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

.about {
    white-space: pre;
}

.followers {
    display: inline-block;
    margin-left: 1em;
}