<div class="profile-wrapper">
    <div *ngIf="!person && !notFound" class="waiting">
        <br />
        <div class="preloader-wrapper active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <span><br /><br />Loading...</span>
    </div>

    <h4 class="grey-text center-align" *ngIf="notFound">
        <br />Something's coming. Ruuuuun!
    </h4>
    <div class="info-wrapper" *ngIf="person">
        <div>
            <img class="photo z-depth-1" [src]="person.imageUrl.split('=')[0] + '=480'" />
        </div>
        <div class="infobox bkg-white z-depth-1">
            <div class="info">
                <h3>
                    {{ person.firstName }} {{ person.lastName }}
                    <a *ngIf="isMyProfile()" class="modal-trigger tooltipped" href="#edit-about" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Edit your about description'"><i class="material-icons small">edit</i></a>
                </h3>
                <parse-links class="about flow-text">{{ person.about }}</parse-links>
                <br />
                <div>
                    <a [routerLink]="['/messages/' + person.id]">
                        <div class="price waves-effect waves-light btn white-text bkg-red tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Open your messages with ' + person.firstName" *ngIf="!isMyProfile()">
                            <b>Message {{ person.firstName }}</b>
                        </div>
                    </a>
                    <div class="waves-effect waves-light btn white-text teal tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'You\'ll get updates from ' + person.firstName + ' ' + person.lastName" *ngIf="!isMyProfile()" (click)="toggleFollow()">
                        <b *ngIf="!isFollowing">Follow</b>
                        <i *ngIf="isFollowing" class="material-icons">check</i>
                    </div>
                    <div *ngIf="person.infoFollowers" class="followers grey-text text-darken-2">{{ person.infoFollowers }} {{ person.infoFollowers === 1 ? 'follower' : 'followers' }}</div>
                </div>
            </div>
            <div class="tabs-anchor">
                <ul class="tabs">
                    <li class="tab"><a href="#updates" (click)="selectTab('updates')" class="txt-red"><i class="material-icons">perm_identity</i> Updates</a></li>
                    <li class="tab"><a href="#offers" (click)="selectTab('offers')" class="active txt-green"><i class="material-icons">redeem</i> Offers</a></li>
                    <li *ngIf="person.projects.length" class="tab"><a href="#projects" (click)="selectTab('projects')" class="deep-orange-text"> <i class="material-icons">settings</i> Projects</a></li>
                    <li *ngIf="person.resources.length" class="tab"><a href="#resources" (click)="selectTab('resources')" class="brown-text"> <i class="material-icons">language</i> Resources</a></li>
                    <li *ngIf="person.hubs.length" class="tab"><a href="#hubs" (click)="selectTab('hubs')" class="blue-text"><i class="material-icons">room</i> Hubs</a></li>
                    <li *ngIf="person.clubs.length" class="tab"><a href="#clubs" (click)="selectTab('clubs')" class="orange-text"><i class="material-icons">supervisor_account</i> Clubs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="isMyProfile()">
        <floating *ngIf="selectedTab === 'offers'" [tooltip]="'Add an offer'" [modal]="newOfferModal"></floating>
        <floating *ngIf="selectedTab === 'projects'" [tooltip]="'Add a project'" [color]="'deep-orange'" [modal]="newProjectModal"></floating>
        <floating *ngIf="selectedTab === 'resources'" [tooltip]="'Add a resource'" [color]="'brown'" [modal]="newResourceModal"></floating>
        <floating *ngIf="selectedTab === 'hubs'" [tooltip]="'Add a hub'" [color]="'blue'" [modal]="newHubModal"></floating>
        <floating *ngIf="selectedTab === 'clubs'" [tooltip]="'Add a club'" [color]="'yellow darken-4'" [modal]="newClubModal"></floating>
    </div>
    <br />
    <div class="start-hidden" id="updates">
        <div class="center-align" *ngIf="person && isMyProfile()">
            <a href="#postUpdateModal" class="modal-trigger price waves-effect waves-light btn white-text bkg-red tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Post a new update'">
                <b><i class="material-icons left">edit</i>New Post</b>
            </a>
            <post-update-modal [thing]="person"></post-update-modal>
        </div>
        <thing-updates *ngIf="person" [updates]="person.updates"></thing-updates>
    </div>
    <div id="offers">
        <offers *ngIf="person" [list]="offers" [profile]="isMyProfile()"></offers>
    </div>
    <div class="start-hidden" id="projects">
        <things *ngIf="person" [things]="person.projects"></things>
    </div>
    <div class="start-hidden" id="resources">
        <things *ngIf="person" [things]="person.resources"></things>
    </div>
    <div class="start-hidden" id="hubs">
        <things *ngIf="person" [things]="person.hubs"></things>
    </div>
    <div id="edit-about" class="modal">
        <div class="modal-content">
            <h4>Edit me</h4>
            <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                <textarea id="editAbout" class="materialize-textarea" type="text" [(ngModel)]="editAbout" name="editAbout"></textarea>
                <label class="active" for="editAbout">Enter about</label>
            </div>
            <br />
            <div class="grey-text">
                Change your name and photo on <a href="https://aboutme.google.com" target="_blank">Google+</a>.
            </div>
        </div>
        <div class="modal-footer">
            <a class="right modal-action modal-close waves-effect waves- btn-flat blue-text" (click)="saveEdit()">Save</a>
            <a class="right modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
        </div>
    </div>
</div>