.profile-wrapper {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

@media screen and (max-width: 900px) {
    .profile-wrapper {
        margin-top: 0;
    }
}

.bkg-white {
    background: #fff;
}

.image-wrapper {
    display: flex;
}

.photo {
    display: flex;
    vertical-align: top;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    width: 480px;
    min-height: 480px;
}

.info-wrapper {
    display: flex;
    flex-direction: row;
}

.infobox {
    display: flex;
    flex: 1;
    width: 0;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
}

.info {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.about {
    white-space: pre-wrap;
    display: block;
    padding-right: 1rem;
}

.followers {
    display: inline-block;
    margin-left: 1em;
}

a {
    cursor: pointer;
}

.link-precheck {
    margin-left: 3rem;
}

.hover-edit+i.material-icons {
    display: none;
    font-size: inherit;
    padding-left: .25rem;
}

.hover-edit:hover+i.material-icons {
    display: inline;
}

.metadata {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.modes-view {
    overflow-x: auto;
    display: flex;
}

@media only screen and (max-width: 900px) {
    .photo {
        width: 100%;
    }

    .info-wrapper {
        flex-direction: column;
    }

    .infobox {
        width: initial;
    }

}

.vertically-spaced {
    line-height: 3rem;
}