<div>
    <h4 class="grey-text center-align" *ngIf="notFound">
        <br />Something's coming. Ruuuuun!
    </h4>
    <div class="info-wrapper" *ngIf="person">
        <div>
            <img class="photo z-depth-1" [src]="person.imageUrl.split('=')[0] + '=480'" />
        </div>
        <div class="infobox bkg-white z-depth-1">
            <div class="info">
                <h3>{{ person.firstName }} {{ person.lastName }}</h3>
                <parse-links class="about flow-text">{{ person.about }}</parse-links>
                <br />
                <div>
                    <a [routerLink]="['Messages', {id: person.id}]">
                        <div class="price waves-effect waves-light btn white-text bkg-red" *ngIf="!isMyProfile()">
                            <b>Message {{ person.firstName }}</b>
                        </div>
                    </a>
                    <div *ngIf="person.infoFollowers" class="followers grey-text text-darken-2">{{ person.infoFollowers }} {{ person.infoFollowers === 1 ? 'follower' : 'followers' }}</div>
                </div>
            </div>
            <div class="tabs-anchor">
                <ul class="tabs">
                    <li class="tab"><a href="#updates" class="txt-red"><i class="material-icons">perm_identity</i> Updates</a></li>
                    <li class="tab"><a href="#offers" class="active txt-green"><i class="material-icons">redeem</i> Offers</a></li>
                    <li class="tab"><a href="#projects" class="deep-orange-text"> <i class="material-icons">settings</i> Projects</a></li>
                    <!--<li class="tab"><a href="#resources" class="brown-text"> <i class="material-icons">language</i> Resources</a></li>-->
                    <!--<li class="tab"><a href="#clubs" class="orange-text"><i class="material-icons">supervisor_account</i> Clubs</a></li>-->
                    <!--<li class="tab"><a href="#hubs" class="blue-text"><i class="material-icons">room</i> Hubs</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div [hidden]="!isMyProfile()">
        <floating [modal]="newOfferModal"></floating>
    </div>
    <br />
    <div id="updates">
        <thing-updates *ngIf="person" [updates]="person.updates"></thing-updates>
    </div>
    <div id="offers">
        <offers *ngIf="person" [list]="offers" [profile]=isMyProfile()></offers>
    </div>
</div>