<div>
    <div class="z-depth-1 bkg-white" *ngIf="person">
        <img class="photo" [src]="person.imageUrl.split('=')[0] + '=480'" />
        <div class="info">
            <h3>{{ person.firstName }} {{ person.lastName }}</h3>
            <parse-links class="about flow-text">{{ person.about }}</parse-links>
            <br />
            <div>
                <a [routerLink]="['Messages', {id: person.id}]">
                <div class="price waves-effect waves-light btn white-text bkg-red" *ngIf="!isMyProfile()">
                    <b >Message {{ person.firstName }}</b>
                </div> </a>
                <div *ngIf="person.infoFollowers" class="followers grey-text text-darken-2">{{ person.infoFollowers }} {{ person.infoFollowers === 1 ? 'follower' : 'followers' }}</div>
            </div>
        </div>
    </div>
    <div [hidden]="!isMyProfile()">
        <floating></floating>
    </div>
    <br />
    <offers [list]="offers" [profile]=isMyProfile()></offers>    
</div>