<div class="card hoverable large" *ngIf="thing">
    <div class="card-image">
        <div class="card-tabbing {{typeClass}}"></div>
        <img *ngIf="getPhotoUrl()" src="{{ getPhotoUrl() }}">
        <img *ngIf="!getPhotoUrl()" src="img/night.png">
        <span class="card-title">{{ thing.name }}</span>
    </div>
    <div class="card-content">
        <p>{{ thing.about }}</p>
        <i *ngIf="!thing.about" class="grey-text">No description provided.</i>
    </div>
    <div class="card-action">
        {{ thing.followers }}
        <span class="grey-text" [ngPlural]="thing.followers">
            <template ngPluralCase="=1">follower</template>
            <template ngPluralCase="other">followers</template>
        </span>

        <a (click)="go()" class="secondary-content {{typeClass.indexOf('yellow') != -1 ? 'yellow-text text-darken-4' : typeClass + '-text'}}">{{typeClass == 'deep-orange' ? 'View Project' : typeClass == 'brown' ? 'View Resource' : typeClass == 'blue' ? 'Go To Hub' : 'Go to Club'}}</a>
    </div>
</div>
