<div class="card hoverable large" *ngIf="thing">
    <div class="card-image">
        <div class="card-tabbing {{typeClass}}"></div>
        <div class="card-img" [style.background-image]="'url(' + (getPhotoUrl() ? getPhotoUrl() : 'img/night.png') + ')'"></div>
        <div class="cover-shadow"></div>
        <span class="card-title">{{ thing.name }}{{ thing.member && thing.member.role ? ', ' + thing.member.role : ''}}</span>
        <i class="remove-thing card-hover waves-effect material-icons white-text small waves-light tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Remove'" *ngIf="removable()" (click)="remove($event)">clear</i>
    </div>
    <div class="card-content position-relative">
        <p>{{ thing.about }}</p>
        <i *ngIf="!thing.about" class="grey-text">No description provided.</i>
        <i class="remove-thing card-content-hover waves-effect material-icons grey-text tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Edit role'" *ngIf="removable() && thing.member" (click)="editRole($event)">assignment_ind</i>
    </div>
    <div class="card-action">
        <div *ngIf="thing.backers">
            {{ thing.backers }}
            <span class="grey-text" [ngPlural]="thing.backers">
                <template ngPluralCase="=1">backing</template>
                <template ngPluralCase="other">backers</template>
            </span>
        </div>

        <a [routerLink]="goUrl()" class="secondary-content {{typeClass.indexOf('yellow') != -1 ? 'yellow-text text-darken-4' : typeClass.indexOf('red') != -1 ? 'txt-red' : typeClass + '-text'}}">{{
            typeClass == 'deep-orange' ? 'View Project' :
            typeClass == 'brown' ? 'View Resource' :
            typeClass == 'blue' ? 'Go To Hub' :
            typeClass == 'yellow darken-4' ? 'Go to Club' :
            typeClass == 'purple' ? 'View Form' :
            typeClass == 'bkg-red' ? 'View ' + thing.firstName : ''
        }}</a>
    </div>
</div>
<edit-role-modal *ngIf="thing.member" [thing]="thing.member"></edit-role-modal>