<div class="card hoverable large">
    <div class="card-image">
        <div class="card-tabbing {{typeClass}}"></div>
        <img src="img/img-150924195412-0001.png">
        <!--<span class="card-title">Card Title</span>-->
    </div>
    <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
        <a href="#">This is a link</a>
    </div>
</div>