<div>
    <div *ngIf="!projects" class="waiting">
        <br />
        <div class="preloader-wrapper active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <span><br /><br />Finding projects near you...</span>
    </div>
    <div *ngIf="projects && !projects.length" class="waiting">Nothing to work on around here.</div>

    <div class="grid center-align">
        <div class="item" *ngFor="let project of projects">
            <project-card class="left-align" [typeClass]="'deep-orange'" [thing]="project"></project-card>
        </div>
    </div>
    <floating [tooltip]="'Add a project'" [color]="'deep-orange'" [modal]="newProjectModal"></floating>
</div>