<div class="profile-wrapper">
    <div *ngIf="!thing && !notFound" class="waiting">
        <br />
        <div class="preloader-wrapper active">
            <div class="spinner-layer">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <span><br /><br />Loading...</span>
    </div>

    <h4 class="grey-text center-align" *ngIf="notFound">
        <br />You see nothing.
    </h4>
    <div class="z-depth-1 bkg-white" *ngIf="thing">
        <img class="photo" *ngIf="thing.photo" [src]="getUrl()" />
        <div class="info">
            <club-tag [clubs]="getClubs()"></club-tag>
            <h3>{{ thing.name }}
                <span *ngIf="canEdit()">
                    <a class="modal-trigger tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Edit details'" href="#editDetailsModal"><i class="material-icons small">edit</i></a>
                    <a class="modal-trigger tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Change photo'" href="#setPhotoModal"><i class="material-icons small">aspect_ratio</i></a>
                    <a class="modal-trigger tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Add someone as a contact'" href="#addContactModal"><i class="material-icons small">person_add</i></a>
                    <!--<a class="modal-trigger tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Move to club'" href="#moveToClubModal"><i class="material-icons small">arrow_forward</i></a>-->
                </span>
            </h3>
            <div *ngIf="thing.contacts && thing.contacts.length">
                <h6 class="metadata grey-text">CONTACTS</h6>
                <person-link *ngFor="let contact of thing.contacts" [remove]="canEdit() ? removeCallbackFor(contact.source) : undefined" [person]="contact.source.target"></person-link>
            </div>
            <div *ngIf="thing.address">
                <h6 class="metadata grey-text">LOCATION</h6>
                <a href="{{ addressLink() }}" target="_blank">{{ thing.address }}</a>
            </div>
            <h6 class="metadata grey-text">ABOUT</h6>
            <div class="about flow-text" [innerHtml]="thing.about | parseLinks"></div>
            <a class="about" href="#editDetailsModal" *ngIf="!thing.about && canEdit()">Add a description...</a>
            <i *ngIf="!thing.about && !canEdit()" class="about grey-text">No description provided.</i>
            <div *ngIf="thing['in'] && thing['in'].length">
                <h6 class="metadata grey-text">ADDED TO</h6>
                <person-link *ngFor="let link of thing['in']" [remove]="undefined" [person]="link.target"></person-link>
            </div>
            <br />
            <div class="waves-effect waves-light btn white-text {{ typeClassOf() }} tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Be a part of ' + thing.name" (click)="clickActionButton()">
                <b *ngIf="actionButtonEnabled()">{{ actionButton() }}</b>
            </div>
            <div *ngIf="actionBar()" class="waves-effect waves-light btn white-text teal tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'You\'ll get updates about ' + thing.name" (click)="toggleFollow()">
                <b *ngIf="!isFollowing">Back it</b>
                <i *ngIf="isFollowing" class="material-icons">check</i>
            </div>
        </div>
        <tabs-for [thing]="thing"></tabs-for>
    </div>
    <br />
    <thing-tabs [thing]="thing"></thing-tabs>
    <edit-details-modal *ngIf="canEdit()" [thing]="thing"></edit-details-modal>
    <add-contact-modal *ngIf="canEdit()" [thing]="thing"></add-contact-modal>
    <remove-contact-modal *ngIf="canEdit() && removingContact" [thing]="thing" [contact]="removingContact"></remove-contact-modal>
    <set-photo-modal *ngIf="canEdit()" [thing]="thing"></set-photo-modal>
    <info-modal [text]="actionButtonInfoText"></info-modal>
</div>

<add-member *ngIf="canEdit()" [thing]="thing"></add-member>