<div>
    <center *ngIf="!resources" class="waiting">
        <br />
        <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <span><br /><br />Finding resources near you...</span>
    </center>
    <center *ngIf="resources && !resources.length" class="waiting">No resources near you.</center>

    <div class="grid center-align">
        <div class="item" *ngFor="#resource of resources">
            <project-card class="left-align" [typeClass]="'brown'" [thing]="resource"></project-card>
        </div>
    </div>
    <floating [tooltip]="'Add a resource'" [color]="'brown'" [modal]="newResourceModal"></floating>
</div>