body {
    background: #f2f2f2;
}

.bkg-green {
    background-color: #629252 !important;
}

.bkg-purple {
    background-color: #9848C5 !important;
}

.bkg-red {
    background-color: #c54859 !important;
}


.txt-green {
    color: #629252 !important;
}

.txt-purple {
    color: #9848C5 !important;
}

.txt-red {
    color: #c54859 !important;
}

.clear {
    clear: both;
}

.side-nav a:hover {
    background: transparent;
}

.tabs .indicator {
    background-color: #9e9e9e !important;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(33, 150, 243, 0.65);
}
