@import 'https://fonts.googleapis.com/css?family=Varela+Round';

body {
    background: #f2f2f2;
    font-family: 'Varela Round', sans-serif;

    background-attachment: fixed;
    background-size: 100%;
    background-image: url(/img/anastasia-village.jpg);
}

.bkg-green {
    background-color: #629252 !important;
}

.bkg-purple {
    background-color: #9848C5 !important;
}

.bkg-red {
    background-color: #c54859 !important;
}

.txt-green {
    color: #629252 !important;
}

.txt-purple {
    color: #9848C5 !important;
}

.txt-red {
    color: #c54859 !important;
}

.clear {
    clear: both;
}

.side-nav a:hover {
    background: transparent;
}

.tabs .indicator {
    background-color: #9e9e9e !important;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(33, 150, 243, 0.65);
}

.preloader-wrapper,
.spinner-layer {
    border-color: transparent !important;
    background: url(/img/loader.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.btn-flat {
    font-weight: 500;
}

/* Don't allow materialize labels to wrap */
.input-field label {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 75%;
}