<div class="card white hoverable">
    <div class="card-image">
        <div class="card-tabbing blue"></div>
        <img (load)="loaded()" *ngIf="update.photo" src="{{updateImage}}" />
    </div>
    <div class="card-content">
        <div class="blox">
            <a [routerLink]="['Profile', {id: update.person.googleUrl}]" class="tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="update.person.firstName + ' ' + update.person.lastName"> <img src="{{ update.person.imageUrl }}" alt="Profile picture" class="circle" /> </a>
        </div>
        <div class="blox">
            <span class="title update-type blue-text">{{ update.person.firstName }} posted</span>
            <span class="title grey-text">{{ time() }}</span>
            <p class="flow-text">{{ update.about }}</p>
        </div>
    </div>
</div>