.thing-update {
    padding: 1rem;
    font-size: 1.2rem;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, .33);
    border-radius: 3px;
    background: #ffffff;
    margin: 1rem;
}

.thing-action-icon {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.thing-action-icon.thing-edit-icon {
    right: 4.5rem;
}

.card:hover>.card-content>.thing-action-icon {
    display: block;
}

.card-content {
    position: relative;
}

.card .card-image img {
    border-radius: 0;
}

.update-type {
    text-transform: uppercase;
    font-weight: bold;
}

.blox {
    display: table-cell;
    vertical-align: top;
    padding-right: 1rem;
}

.card-tabbing {
    height: 4px;
    border-radius: 2px 2px 0 0;
}

p {
    white-space: pre-wrap;
}

.is-comment {
    margin: 0;
}

.thing-action {
    position: absolute;
    padding: 1rem;
    top: 0;
    right: 0;
    opacity: .75;
}

.card-hover {
    display: none;
}

.card:hover .card-hover {
    display: inline-block;
}

.favorite-icon {
    padding: 1.5rem;
    padding-right: 1rem;
    display: inline-flex;
    align-items: center;
}

.favorite-icon span {
    margin-left: .5rem;
}

.bottom-pad-0 {
    padding-bottom: 0;
}

.like-box {
    display: flex;
}

.likes-list {
    padding-bottom: 1.5rem;
    padding-top: 1.9rem;
}

thing-link + thing-link {
    margin-left: .5rem;
}

.commentbox {
    padding: 1rem;
}

.input-field {
    margin-top: 0;
}

.input-field input {
    border-bottom: none !important;
    margin-bottom: 0;
}

.input-field input:focus {
    box-shadow: 0 2px 0 0 #2196F3 !important; /* blue */
}

.like-box-comment {
    padding-left: 2.5rem;
}

.like-box-comment .favorite-icon {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.like-box-comment .likes-list {
    padding-top: .9rem;
    padding-bottom: .5rem;
}

.goal-name {
    font-size: 2rem;
    padding-top: 2rem;
}