<div id="tab-updates">
    <div class="center-align" *ngIf="thing && isSignedIn()">
        <a href="#postUpdateModal" class="modal-trigger price waves-effect waves-light btn white-text bkg-red tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Post a new update' + (thing.name ? ' on ' + thing.name : '')">
            <b><i class="material-icons left">edit</i>New Update</b>
        </a>
    </div>
    <thing-updates *ngIf="thing && thing.updates" [updates]="thing.updates"></thing-updates>
</div>
<div class="start-hidden" id="tab-offers">
    <offers *ngIf="thing" [list]="thing.offers"></offers>
</div>
<div class="start-hidden" id="tab-projects">
    <things *ngIf="thing" [things]="thing.projects"></things>
</div>
<div class="start-hidden" id="tab-resources">
    <things *ngIf="thing" [things]="thing.resources"></things>
</div>
<div class="start-hidden" id="tab-hubs">
    <things *ngIf="thing" [things]="thing.hubs"></things>
</div>
<div class="start-hidden" id="tab-people">
    <things *ngIf="thing" [things]="thing.people"></things>
</div>
<post-update-modal *ngIf="thing" [thing]="thing"></post-update-modal>