@import '../css/thing-cards.css';

.thing-feed {
    margin-top: 1rem;
}

.item {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.waiting {
    font-size: 1.5rem;
    color: #777;
    padding: .5em;
    text-align: center;
}