:host {
    float: right;
    padding: 1rem 2rem 1rem 2.5rem;
    margin-right: -21px;
    cursor: pointer;
    color: #fff;
    background: #fbc02d;
    background: linear-gradient(to bottom, #f7ce84, #fbc02d);
    font-weight: bold;
    text-align: right;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    text-transform: uppercase;
}

:host.is-public {
    background: #37d011;
    background: linear-gradient(to bottom, #55ec30, #37d011);
}

:host.small {
    font-size: 80%;
    margin-top: -1.75rem;
    margin-right: -1.75rem;
    padding: .5rem 1rem .5rem 1.5rem;
}

:host.small.in-card {
    margin-top: -24px;
    margin-right: -24px;
}

a {
    color: inherit;
}

.more {
    opacity: .66;
}

.club-link {
    display: block;
    text-overflow: ellipsis;
    max-width: 8rem;
    overflow-x: hidden;
    white-space: nowrap;
}

:host.small a {

}