.card-tabbing {
    height: 4px;
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.thing-kind {
    font-weight: bold;
    text-transform: uppercase;
}

.action-button {
    width: 100%;
    box-shadow: none;
}

.join-list {
    margin-top: 1rem;
}