<div class="card rounded hoverable" *ngIf="thing">
  <div class="card-content">
    <club-tag [clubs]="thing.clubs" [isPublic]="!thing.hidden" class="inline"></club-tag>
    <div class="thing-kind pink-text">
      {{ thing.kind }}
      <a [routerLink]="['/', thing.kind + 's', thing.id]" class="grey-text text-lighten-1 tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'Link'"><i class="material-icons thing-action-icon">link</i></a>
    </div>
    <div class="goal-name">{{ thing.name }}</div>
    <div class="join-list" *ngIf="thing.in && thing.in.length">
      <thing-link [thing]="join.target" [large]="true" *ngFor="let join of thing.in | slice:0:6"></thing-link>
    </div>
  </div>
  <div>
    <button [ngClass]="{ 'pink waves-light white-text': !joined(), 'pink-text grey lighten-4': joined() }" class="btn btn-large waves-effect action-button" (click)="action()">
        <b *ngIf="!joined()">Me too</b>
        <b *ngIf="joined()">Complete Goal</b>
    </button>
  </div>
</div>