<div class="card" *ngIf="thing">
  <div class="card-image">
    <div class="card-tabbing pink"></div>
  </div>
  <div class="card-content">
    <club-tag [clubs]="thing.clubs" [isPublic]="!thing.hidden" class="inline"></club-tag>
    <div class="thing-kind pink-text">{{ thing.kind }}</div>
    <div class="flow-text">{{ thing.name }}</div>
    <div class="join-list" *ngIf="thing.joins && thing.joins.length">
        <thing-link [thing]="join.source" [large]="true" *ngFor="let join of thing.joins | slice:0:6"></thing-link>
    </div>
  </div>
  <div>
    <button class="btn btn-large pink white-text waves-effect waves-light flow-text action-button" (click)="action()">
        <b *ngIf="!joined()">Me too</b>
        <b *ngIf="joined()">Complete goal</b>
    </button>
  </div>
</div>