:host {
    display: flex;
    justify-content: center;
}

.mode-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem;
    max-width: 16rem;
}

.mode-name {
    margin-top: .5rem;
    text-align: center;
    font-weight: normal;
}

.mode-action {
    padding: .5rem;
}

.mode-action img {
    border-radius: 100%;
    vertical-align: text-top;
    margin-right: .25rem;
}

.img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    background-position: 0 0;
    background-size: cover;
    background-color: #f0f0f0; 
    display: inline-block;
    cursor: pointer;
}