.complete-header {
    background: #e91e63;
    background-image: linear-gradient(to bottom, #610d2a, #000000);
    color: #fff;
    padding: 4rem 1rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.upload-box {
    display: inline-flex;
    margin: 4rem auto 0 auto;
    padding: 4rem;
    font-size: 2rem;
    background: #f0f0f0;
    border: 4px dashed #ddd;
    border-radius: 1rem;
    color: #909090;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.proof-img {
    border-radius: 4px;
    width: 24rem;
}

.upload-box>i {
    margin-bottom: 1rem;
}

.flex-section {
    display: flex;
    flex-direction: column;
}

.flexd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

.flexd.flexd-col {
    flex-direction: column;
    align-self: center;
    width: 24rem;
    padding: 0;
}

.flex-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 24rem;
    flex-direction: column;
    align-self: stretch;
}