<div [hidden]="!locality || isAuthenticated()" class="locality-card card white hoverable">
  <!--<div class="card-image">-->
  <!--<div class="amber card-tabbing"></div>-->
  <!--</div>-->
  <div class="card-content">
    <div class="locality flow-text">{{ (isSubscribed() ? 'You\'re subscribed to ' : 'Keep up with ') + locality }}</div>
    <form [hidden]="isSubscribed()">
      <div class="input-field">
        <input id="subscribeEmail" type="text" required [(ngModel)]="subscribeEmail" name="subscribeEmail">
        <label for="subscribeEmail">Your email address...</label>
      </div>
    </form>
  </div>
  <div class="card-action">
    <a (click)="subscribe()" [hidden]="isSubscribed()">
      <div class="waves-effect secondary-content waves-light btn white-text amber darken-1 tooltipped" [attr.data-position]="'bottom'" [attr.data-tooltip]="'You\'ll get emails when things happen around here'">
        <b>Subscribe to {{ locality }}</b>
      </div>
    </a>
    <a (click)="resubscribe()" [hidden]="!isSubscribed()">
      <a class="secondary-content amber-text text-darken-1">Re-subscribe</a>
    </a>
    <div class="clear"></div>
  </div>
</div>