.choice {
    cursor: pointer;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 2px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.choice .image {
    border-radius: 2px;
    vertical-align: middle;
    margin: .5rem;
    border-radius: 100%;
    background-position: 50% 0;
    background-size: cover;
    display: inline-block;
    width: 64px;
    height: 64px;
}