:host {
    white-space: nowrap;
}

.in-thing-img {
    border-radius: 100%;
    background-size: cover;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.in-thing-img.large {
    width: 2.5rem;
    height: 2.5rem;
}

.in-thing-name {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 12rem;
    display: inline-block;
    vertical-align: bottom;
}