.in-thing-img {
    border-radius: 100%;
    background-size: 100%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
}

.in-thing-wrapper:last-child {
    margin-bottom: .5rem;
}