<section class="chat-container">
  <aside class="topics">
    <div class="locality grey-text">{{ locality }} Chats</div>
    <div class="scrollbox">
      <a *ngFor="let topic of topics"
           class="topic waves-effect waves-blue"
           [routerLink]="['/chat/' + topic.name]"
           [ngClass]="{'topic-active': active === topic}">
        <div class="to-pic" [style.background-image]="'url(\'' + topicImg(topic) + '\')'"></div>
        <div class="blue-text">{{ topic.name }}<span class="red-text topic-new" *ngIf="topic.recent">{{ topic.recent }} NEW</span><span class="green-text topic-new" *ngIf="topic.ads">{{ topic.ads.length }} AD{{ topic.ads.length > 1 ? 'S' : '' }}</span></div>
      </a>
    </div>
    <div class="fade"></div>
  </aside>
  <section class="view-ads">
    <div class="waves-effect btn-flat" [ngClass]="{'green-text waves-green': !isShowingAds, 'red-text waves-red': isShowingAds}" (click)="toggleMobileAds()">
      {{ isShowingAds ? 'Hide' : 'View ' + active.name }} Ads
    </div>
  </section>
  <section class="room" [ngClass]="{'is-showing-ads': isShowingAds}">
    <section class="room-main">
      <div class="room-main-chats">
        <div class="chat-item"
          *ngFor="let chat of chats[active.name]">
          <div class="chat-item-profile" [style.background-image]="'url(\'img/avatars/' + chat.avatar + '.png\')'"></div>
          <div *ngIf="chat.message" class="chat-item-message">{{ chat.message }}</div>
          <img *ngIf="chat.photo" src="{{ chat.photo }}" class="chat-item-photo hoverable z-depth-2" />
        </div>
      </div>
    </section>
    <section class="room-action">
      <div class="my-profile waves-effect" [style.background-image]="'url(\'img/avatars/' + avatar + '.png\')'" (click)="randomAvatar()"></div>
      <div class="input-field chat-input">
        <input id="message" type="text" required [(ngModel)]="message" name="message" (keydown.enter)="enterPressedInChat($event)">
        <label class="active" for="message">Chat in {{ active.name }}...</label>
      </div>
      <div class="action-upload waves-effect tooltipped" [attr.data-position]="'top'" [attr.data-tooltip]="'Post a photo'" (click)="onClickPhotoUpload()">
        <input id="photoUploadInput" type="file" style="display: none" (change)="onFileUpload($event)" />
        <i class="material-icons grey-text">add_a_photo</i>
      </div>
    </section>
  </section>
  <aside class="info" [ngClass]="{'is-showing-ads': isShowingAds}">
    <section class="info-main">
      <div class="info-main-scroll" *ngIf="active && active.ads && active.ads.length">
          <div class="card hoverable topic-ad" *ngFor="let ad of active.ads">
              <div class="topic-ad-name">
                  {{ ad.name }}
              </div>
              <div class="topic-ad-desc grey-text text-darken-1">
                  {{ ad.description }}
              </div>
              <div class="topic-ad-actions">
                  <div class="ad-age grey-text">
                      {{ ago(ad.date) }}
                  </div>
                  <a *ngIf="ad.source" class="waves-effect waves-light btn green" [routerLink]="['/messages/' + ad.source]" [queryParams]="{ q: 'I\'d like to know more about ' + ad.name }">
                      {{ ad.action || 'Reply' }}
                  </a>
              </div>
          </div>
      </div>
      <div class="no-ads grey-text" *ngIf="!(active && active.ads && active.ads.length)">No ads in {{ active.name }}.</div>
      <div class="fade" *ngIf="active && active.ads && active.ads.length"></div>
    </section>
    <section class="info-action">
      <a class="waves-effect waves-light btn white-text modal-trigger green" href="#adAddModal">
        Post {{ active.name }} ad
      </a>
    </section>
  </aside>
</section>
<ad-add-modal [topic]="active.name" (onAddAd)="onAddAd($event)"></ad-add-modal>