.chat-container {
    display: flex;
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: .5rem;

    background: rgba(255, 255, 255, 1);
}

.locality {
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
}

.topics {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 18rem;
    margin: .5rem;
    position: relative;
}

.scrollbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-bottom: 6rem;
    overflow-y: auto;
}

.fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6rem;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, .8), white);
    z-index: 1;
    pointer-events: none;
}

.scrollbox::-webkit-scrollbar,
.info-main-scroll::-webkit-scrollbar {
    display: none;
}

.topic {
    padding: 2rem 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
}

.topic-new {
    font-weight: bold;
    padding-left: .5rem;
}

.topic-active {
    box-shadow: 0 0 0 2px #BBDEFB inset;
    background: rgba(187, 222, 251, .5);
}

.topic:hover {
    font-weight: bold;
}

.topic:hover .to-pic {
    height: 4rem;
    width: 4rem;
    margin: -1rem 1rem -1rem -1rem;
}

.to-pic {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;

    transition: width 190ms, height 190ms, margin 190ms;
    transition-timing-function: cubic-bezier(1, -0.46, 0.09, 1.44);
}

.room {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: .5rem;
}

.room-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    height: 0px;
    box-shadow: 0 0 24px rgba(0, 0, 0, .1) inset;
    overflow-y: auto;
    border: 2px solid #BBDEFB;
    border-radius: 4px;
    background: white;
}

.room-main-chats {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1rem 0;
}

.chat-item {
    display: flex;
    padding: .5rem 1rem;
    flex-shrink: 0;
}

@keyframes scale-in {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.chat-item-message {
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    opacity: 0;

    padding: .5rem 1rem 0 0;

    animation: fade-in;
    animation-duration: 190ms;
    animation-delay: 190ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.chat-item-profile {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-top: .5rem;
    flex-shrink: 0;
    background-size: 100%;
    image-rendering: pixelated;

    animation: scale-in;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, -0.46, 0.09, 1.44);
}

.chat-item-photo {
    border-radius: 4px;
}

.room-action {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-top: 1rem;
    height: 4rem;
}

.info {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 19rem; /* 18 + 1 due to missing margin */
    margin: .5rem 0;
}

.info-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
}

.info-main-scroll {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 6rem;
}

.no-ads {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.info-action {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 4rem;
}

.my-profile {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    background-size: 100%;
    image-rendering: pixelated;
}

.chat-input {
    display: flex;
    width: 0;
    flex-grow: 1;
}

.action-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 100%;
}

.view-ads {
    display: none;
    align-items: center;
    justify-content: center;
}

.topic-ad {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-shrink: 0;
}

.topic-ad-name {
    font-weight: bold;
}

.topic-ad-desc {
    padding-top: 1rem;
}

.topic-ad-actions {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ad-age {
    align-self: flex-end;
}


@media only screen and (max-height: 400px) and (max-width: 800px) {
    .topics {
        display: none;
    }

    .view-ads.view-ads {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .chat-container {
        border: none;
        flex-direction: column;
    }

    .chat-container.is-showing-ads {
        display: none;
    }

    .topics {
        max-height: 12rem;
        width: initial;
    }

    .info:not(.is-showing-ads) {
        display: none;
    }

    .info {
        width: initial;
        flex-shrink: initial;
    }

    .room.is-showing-ads {
        display: none;
    }

    .view-ads {
        display: flex;
    }
}