.intro-card {
    max-width: 960px;
    margin: 2rem auto;
    text-align: center;

    animation-name: fuzzy;
    animation-duration: 300ms;
    animation-timing-function: linear;
}

.lrg {
    font-size: 150%;
}

a {
    cursor: pointer;
}

.icard3 {
    background-color: rgb(79, 41, 64);
    background-image: url('/img/location.png');
    background-size: cover;
    background-position: 0% 100%;
    color: white;
    font-weight: bold;
    padding: 3rem;
}

@keyframes fuzzy {
    0% { transform:scale(1.4); }
    50% { transform:scale(1); }
    75% { transform:scale(1.075); }
    100% { transform:scale(1); }
}

