.thing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.thing-card {
    width: 400px;
    margin: 0 .75rem;
}

.no-cards {
    font-size: 1.5rem;
    color: #777;
    padding: 1em;
    margin-top: 1rem;
    text-align: center;
}