<div id="addActionModal" class="modal">
  <div class="modal-content">
    <h4 *ngIf="!action">Add an action to {{ thing.name }}</h4>
    <h4 *ngIf="action">Edit {{ thing.name }}</h4>

    <form>
      <div class="row">
        <div class="col s12 input-field">
          <input id="name" type="text" required [(ngModel)]="name" name="name">
          <label class="active" for="name">Action role</label>
        </div>
        <div class="col s12">
          <h6 class="metadata grey-text">TYPE</h6>
          <div class="option-wrapper">
            <div *ngFor="let t of types" [ngClass]="{ 'option-selected': t.name === type }" (click)="setType(t.name)" (keydown.enter)="setType(t.name, $event)" (keydown.space)="setType(t.name, $event)" class="option" tabindex="0">
              <div>
                <i class="material-icons medium {{ t.color }}-text">{{ t.icon }}</i>
              </div>
              <div>
                {{ t.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="metadata grey-text">VALUE</h6>
          <div [ngSwitch]="type">
            <div *ngSwitchCase="'color'">
              <div class="input-field">
                <input id="format" type="text" required [(ngModel)]="actionConfig.format" [ngModelOptions]="{standalone: true}">
                <label class="active" for="format">Format</label>
              </div>
            </div>
            <div *ngSwitchCase="'text'">
            </div>
            <div *ngSwitchCase="'switch'">
              <div class="input-field">
                <input id="onValue" type="text" required [(ngModel)]="actionConfig.onValue" [ngModelOptions]="{standalone: true}">
                <label class="active" for="onValue">On Value</label>
              </div>
              <div class="input-field">
                <input id="offValue" type="text" required [(ngModel)]="actionConfig.offValue" [ngModelOptions]="{standalone: true}">
                <label class="active" for="offValue">Off Value</label>
              </div>
            </div>
            <div *ngSwitchCase="'slider'">
              <div class="input-field">
                <input id="minValue" type="text" required [(ngModel)]="actionConfig.minValue" [ngModelOptions]="{standalone: true}">
                <label class="active" for="minValue">Min Value</label>
              </div>
              <div class="input-field">
                <input id="maxValue" type="text" required [(ngModel)]="actionConfig.maxValue" [ngModelOptions]="{standalone: true}">
                <label class="active" for="maxValue">Max Value</label>
              </div>
              <div class="switch">
                <label>
                  Integer
                  <input name="type" [(ngModel)]="actionConfig.isFloat" type="checkbox" />
                  <span class="lever"></span>
                  Float
                </label>
              </div>
            </div>
            <div *ngSwitchCase="'trigger'">
              <div class="input-field">
                <input id="value" type="text" required [(ngModel)]="actionConfig.value" [ngModelOptions]="{standalone: true}">
                <label class="active" for="value">Custom Value</label>
              </div>
            </div>
            <div *ngSwitchDefault class="grey-text">
              Choose a
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 blue-text" *ngIf="type">
          {{ getVariables() }}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="metadata grey-text">CHANGE NOTIFICATIONS</h6>
          <div class="row">
            <div class="col s12 grey-text" *ngIf="!changeNotificationUrls.length">
              Adding a change notification will let you know when someone uses this action.
            </div>
            <div class="input-field col s12" *ngFor="let n of changeNotificationUrls">
              <div class="form-row">
                <div class="btn cyan white-text" (click)="toggleMethod(n)">{{ n.method }}</div>
                <div class="form-row-grow form-col">
                  <div class="input-field form-row-grow">
                    <input id="url" type="text" required [(ngModel)]="n.url" [ngModelOptions]="{standalone: true}">
                    <label class="active" for="url">Enter URL</label>
                  </div>
                </div>
                <i class="form-tool material-icons grey-text" tabindex="0" (click)="deleteChangeNotificationUrl(n)">delete</i>
              </div>
              <div *ngIf="n.method === 'POST'" class="form-row">
                <div class="form-col form-row-grow">
                  <div class="form-row-grow" *ngFor="let p of n.params">
                    <div class="form-row">
                      <div class="grey-text">PARAM</div>
                      <div class="input-field form-row-grow">
                        <input id="key" type="text" required [(ngModel)]="p.key" [ngModelOptions]="{standalone: true}">
                        <label class="active" for="key">Key</label>
                      </div>
                      <div class="input-field form-row-grow">
                        <input id="value" type="text" required [(ngModel)]="p.value" [ngModelOptions]="{standalone: true}">
                        <label class="active" for="value">Value</label>
                      </div>
                      <i class="form-tool material-icons grey-text" tabindex="0" (click)="deleteParam(n, p)">delete</i>
                    </div>
                  </div>
                  <div class="btn-flat cyan-text" (click)="addParam(n)">+ Parameter</div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn pink" (click)="addChangeNotificationUrl()">Add Change Notification URL</div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="metadata grey-text">REMOTE VALUE TOKEN</h6>
          <div class="row">
            <div class="col s12 grey-text" *ngIf="!statusCallbackUrls.length">
              Adding a remote value token will allow you to report back the actual remote value of this action.
            </div>
            <div class="input-field col s12" *ngFor="let n of statusCallbackUrls">
              <div class="form-row">
                <div class="input-field form-row-grow">
                  <i class="material-icons prefix">vpn_key</i>
                  <input id="url" type="text" required [(ngModel)]="n.url" [ngModelOptions]="{standalone: true}">
                  <label class="active" for="url">Enter token</label>
                </div>
                <i class="form-tool material-icons grey-text" tabindex="0" (click)="deleteStatusCallbackUrls(n)">delete</i>
              </div>
            </div>
          </div>
          <div *ngIf="!statusCallbackUrls.length" class="btn pink" (click)="addStatusCallbackUrl()">Generate Remote Value Token</div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="metadata grey-text">VISIBILITY</h6>
          <visibility-picker [clubs]="clubs" [(public)]="isPublic"></visibility-picker>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <a class="waves-effect btn-flat red-text left" (click)="remove()" *ngIf="action">Remove {{ action.role }}</a>
    <a class="modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
    <a class="btn-flat waves-effect waves-pink modal-action pink-text" (click)="add()">
      {{ action ? 'Save' : 'Add Action' }}
    </a>
  </div>
</div>