<div id="addActionModal" class="modal">
  <div class="modal-content">
    <h4>Add an action to {{ thing.name }}</h4>

    <form>
      <div class="row">
        <div class="col s12 input-field">
          <input id="name" type="text" required [(ngModel)]="name" name="name">
          <label class="active" for="name">Name</label>
        </div>
        <div class="col s12">
          <h6 class="metadata grey-text">TYPE</h6>
          <div class="option-wrapper">
            <div *ngFor="let t of types" [ngClass]="{ 'option-selected': t.name === type }" (click)="setType(t.name)" class="option" tabindex="0">
              <div>
                <i class="material-icons medium {{ t.color }}-text">{{ t.icon }}</i>
              </div>
              <div>
                {{ t.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="metadata grey-text">VALUE</h6>
          <div [ngSwitch]="type">
            <div *ngSwitchCase="'color'">
              <div class="input-field">
                <input id="format" type="text" required [(ngModel)]="actionConfig.format" [ngModelOptions]="{standalone: true}">
                <label class="active" for="format">Format</label>
              </div>
            </div>
            <div *ngSwitchCase="'text'">
            </div>
            <div *ngSwitchCase="'switch'">
              <div class="input-field">
                <input id="onValue" type="text" required [(ngModel)]="actionConfig.onValue" [ngModelOptions]="{standalone: true}">
                <label class="active" for="onValue">On Value</label>
              </div>
              <div class="input-field">
                <input id="offValue" type="text" required [(ngModel)]="actionConfig.offValue" [ngModelOptions]="{standalone: true}">
                <label class="active" for="offValue">Off Value</label>
              </div>
            </div>
            <div *ngSwitchCase="'slider'">
              <div class="input-field">
                <input id="minValue" type="text" required [(ngModel)]="actionConfig.minValue" [ngModelOptions]="{standalone: true}">
                <label class="active" for="minValue">Min Value</label>
              </div>
              <div class="input-field">
                <input id="maxValue" type="text" required [(ngModel)]="actionConfig.maxValue" [ngModelOptions]="{standalone: true}">
                <label class="active" for="maxValue">Max Value</label>
              </div>
              <div class="switch">
                <label>
                  Integer
                  <input name="type" [(ngModel)]="actionConfig.isFloat" type="checkbox" />
                  <span class="lever"></span>
                  Float
                </label>
              </div>
            </div>
            <div *ngSwitchCase="'trigger'">
              <div class="input-field">
                <input id="value" type="text" required [(ngModel)]="actionConfig.value" [ngModelOptions]="{standalone: true}">
                <label class="active" for="value">Custom Value</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 blue-text" *ngIf="type">
          {{ getVariables() }}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="metadata grey-text">CHANGE NOTIFICATIONS</h6>
          <div class="row">
            <div class="col s12 grey-text" *ngIf="!changeNotificationUrls.length">
              Adding a change notification will let you know when someone uses this action.
            </div>
            <div class="input-field col s12" *ngFor="let n of changeNotificationUrls">
              <div class="form-row">
                <div>
                  <i class="material-icons prefix">link</i>
                  <input id="url" type="text" required [(ngModel)]="n.url" [ngModelOptions]="{standalone: true}">
                  <label class="active" for="url">Enter URL</label>
                </div>
                <i class="form-tool material-icons grey-text" tabindex="0" (click)="deleteChangeNotificationUrl(n)">delete</i>
              </div>
            </div>
          </div>
          <div class="btn pink" (click)="addChangeNotificationUrl({ url: 'http://example.com?command=\{\{value\}\}' })">Add Change Notification URL</div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="metadata grey-text">REMOTE VALUE CALLBACK</h6>
          <div class="row">
            <div class="col s12 grey-text" *ngIf="!statusCallbackUrls.length">
              Adding a remote value callback will allow you to report back the actual remote value of this action.
            </div>
            <div class="input-field col s12" *ngFor="let n of statusCallbackUrls">
              <b>POST</b> {{ n.url }}<br />
              <b>BODY</b> <span class="grey-text">value</span><br />
              <br />
              <span class="grey-text">Send a POST request to the URL with the remote value in the POST body</span>
            </div>
          </div>
          <div *ngIf="!statusCallbackUrls.length" class="btn pink" (click)="addStatusCallbackUrl({ url: 'http://example.com/32323322323323232' })">Generate Status Callback URL</div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h6 class="metadata grey-text">VISIBILITY</h6>
          <visibility-picker [clubs]="clubs" [(public)]="isPublic"></visibility-picker>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat grey-text">Nope</a>
    <a class="btn-flat waves-effect waves-pink modal-action pink-text" (click)="add()">
      Add Action
    </a>
  </div>
</div>